/*para index e contact do html*/
body{
    /*color: aliceblue; /* cor da letra*/
    /*background-color: black; /*cor de fundo*/
    background: url('img/wallpaper004.jpg');
    
}
nav{
    background-color:  rgba(1, 7, 19, 0.288);
    width: 350px;
    height: 100%;
    position: absolute;
    left: -350px;
    transition: all .5s;
     list-style-type: none; 
}
ul{
    /*display:flex; /* coloca um do lado do outro*/
    /*justify-content: space-between;/*um espaço pro outro*/
    list-style-type: none; /*tira as bolinhas da frente*/
    /*align-items: center; /* verdicamente alinhando ao centro */
    padding: 5px; /* distancia um pouquinha de cima e de baixo*/
    font-weight: 700;/*fonte da letra em ser grossa ou fina*/
    
    top:50px;
    position: absolute;
    width: 100%;
}

nav a{
    color: rgb(253, 253, 253);/*cor do link*/
text-decoration: none; /* tirando a linha do link*/
display: block;
padding: 20px 5px;

}
nav a:hover{
background-color: rgba(245, 1, 54, 0.473) ;
color: rgba(83, 0, 0, 0.973);}


input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}
label{
    
    padding: 30px;
    position: absolute;
    z-index: 1; /*ele faz que esse elemento fica na frante do outro*/
}
img#icone{
    width: 25px; /* tamanho do icone*/
    display: flex;
    
  }
input[type="checkbox"]{
    display: none;
}

header{
   padding: 10px;
    text-align: center;

}

section{
    text-align: center;
}

header img{
    width: 150px; /*estilizar a imagem*/
    height: 150px; /*altura*/
    border-radius: 60%; /* borda da foto pra deixar rendonda*/
    border: 5px solid #8a1807d5; /* a cor da borda pada foto*/
}

.center{
    text-align: center; /*para centralizar os elemento que esta no centro*/
}

h1,h4{
    color:#640707da;
    text-align: center;
}

h2,h3,p{
    color: rgba(119, 6, 6, 0.993);
    text-align: center;
}

footer{
    text-align: center; /*para centralizar os elemento que esta no centro*/
   
}

.btn{
    padding: 10px 6px;
    width: 50px;
    color: #14023f;
    background: #175505;
    cursor: pointer;
    border: 1px solid #042b06;
   text-align: center;
   user-select: none;
   cursor: pointer;
}

.btn:hover{
    background: rgb(128, 5, 5);
}

img#icone{
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

img#icone:hover{
    transform: scale(1.10);
}


.card-container {
    width: 90%;
    height: 50vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 300px;
    height: 150px;
    background-color: #f1f1f100;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    animation: moveCard 5s ease-in-out infinite;
  }

  img#gif{
    position: center;
  }
  
  @keyframes moveCard {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(200px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  footer,p,a#q4{
    background-color: rgba(255, 255, 255, 0);
    color: rgb(78, 2, 2);
    text-align: center;
text-decoration: none; /* tirando a linha do link*/
}
  
@media screen and (max-width: 839px) {

    nav a{
    padding: 15px 10px;
    }

*{
    margin: 0;
    padding: 0;
}

}